{%load static%}
<DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8"/>
        <title>Chat Rooms</title>
        <link rel="stylesheet" href="{% static 'css/index.css'%}">
    </head>
    <body>
    <button><a href="{% url 'logout' %}">Выйти из аккаунта</a></button>
    <div class="container">
        <h1>Добро пожаловать в чат-комнаты!</h1>
        <p>Вы вошли как: {{ request.user }}</p>
        <h4>Создайте новую комнату чата:</h4>
        <input id="room-name-input" type="text"
               placeholder="Введите название комнаты" autofocus>
        <input id="room-name-submit" type="button" value="Создать">
        <h3>Доступные комнаты:</h3>
        {% if request.user.is_staff %}
        {% for chat in admin_chats %}
        <a href="{% url 'room' chat.name %}">{{ chat.name }}</a>
        {% endfor %}
        {% else %}
        {% for chat in user_chats %}
        <a href="{% url 'room' chat.name %}">{{ chat.name }}</a>
        {% endfor %}
        {% endif %}
    </div>
    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function (e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function (e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
    </body>
    </html>
