{% load static %}
<doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
</head>
<body>
<h1>Страница регистрации</h1>
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Отправить</button>
</form>

</body>
</html>