{%load static%}
{% load datetime_to_strftime %}
<DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8"/>
        <title>Chat Room</title>
        <link rel="stylesheet" href="{% static 'css/room.css'%}">
    </head>
    <body>
    <div id="chat-container">
        <textarea id="chat-log">
            {% for m in chat.messages.all %}
            {{m.sender}}: {{ m.content }} [{{m.created_at|convert_dtm_to_str }}]
            {% endfor %}
        </textarea>
        <input id="chat-message-input" type="text"
               placeholder="Type your message here...">
        <button id="chat-message-submit">Отправить</button>
        <button id="close-chat-request-submit">Завершить чат</button>
        <button id="go-main"><a href="{% url 'index' %}">На главную</a></button>

    </div>
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            if (data.event_type === 'user_join') {
                document.querySelector('#chat-log').value += (data.message + '\n');

            } else if (data.username === undefined && data.created_at === undefined) {
                document.querySelector('#chat-log').value += (data.message + "\n");
            } else {
                document.querySelector('#chat-log').value += (data.username + ': ' + data.message + ' [' + data.created_at + ']' + '\n');

            }
        };

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function (e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };

        document.querySelector('#close-chat-request-submit').onclick = function (e) {
            chatSocket.send(JSON.stringify({
                'message': 'Завершить чат'
            }));
        };

        const chatLog = document.querySelector('#chat-log');

        // Обработчик событий для прокрутки текстового поля чата
        chatLog.addEventListener('scroll', function (e) {
            // Проверяем, достиг ли пользователь конца текстового поля чата
            if (chatLog.scrollTop === (chatLog.scrollHeight - chatLog.offsetHeight)) {
                // Отправляем запрос на бэкэнд для пометки непрочитанных сообщений как прочитанные
                fetch(`/mark-as-read?room_name=${roomName}`)
                    .then(response => response.json())
                    .then(data => {
                        // Обновляем содержимое текстового поля чата
                        chatLog.value = '';
                        for (const message of data.messages) {
                            if (message.is_read) {
                                chatLog.value += `${message.sender}: ${message.content} [${message.created_at}] (прочитано)\n`;
                            } else {
                                chatLog.value += `${message.sender}: ${message.content} [${message.created_at}]\n`;
                            }
                        }
                    });
            }
        });


    </script>
    </body>
    </html>