body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
}

h3, h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333333;
}

a {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

a:hover {
    background-color: #CCCCCC;
}

input[type="text"] {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="button"] {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #3366FF;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

input[type="button"]:hover {
    background-color: #1A53FF;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}