body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 50px;
}

form {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

input[type="text"], input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;
    font-size: 18px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: #666;
}

a:hover {
    text-decoration: underline;
}
