body {
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
}

#chat-log {
    width: 100%;
    height: 400px;
    margin: 20px 0;
    padding: 10px;
    border: none;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    overflow-y: auto;
}

#chat-message-input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 14px;
}

#chat-message-submit {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0084ff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

#close-chat-request-submit {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

#go-main {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

#chat-message-submit:hover {
    background-color: #0069d9;
}
